<h1>Pictures (<%= @pictures.length %>)</h1>
<button type="button" name="button">
  <%= link_to "New Picture",  new_picture_path %>
</button>


<% @pictures.each do |picture| %>
  <p><%= picture.title %>, <%= picture.artist %></p>
  <!-- <img src="<%= picture.url %>"> -->
  <%= link_to image_tag(picture.url), picture_url(picture) %>
  <!-- <%= picture_url(picture)%>
  <%= picture_path(picture)%> -->
<% end %>
