<button type="button" name="button"><%= link_to "Back to Pictures", pictures_url %> </button>
<button type="button" name="button"><%= link_to "Edit", edit_picture_path(@picture) %></button>
<button type="button" name="button"><%= link_to "Delete", picture_path(@picture), method: :delete, data: {confirm: "Are you sure you want to delete this picture?"}  %></button>


<p><%= @picture.title %>, <%= @picture.artist %></p>
<%= image_tag @picture.url %>
<!-- <img src="<%= @picture.url %>"> -->
<ul>
  <% @picture.comments.each do |comment| %>
    <li>
      <p>On <%= comment.created_at %> <%= comment.author %> said: </p>
      <p><%= comment.message %></p>
    </li>
  <% end %>
</ul>
